@media(min-width: 1200px){
    .mobile{
        display: none;
    }

}



.start{
    display: flex;
    background-color: brown;
    color: white;
}

.start1{
    font-style: oblique;
    width: 15%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}

.start2{
    display: flex;
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
    

}

.start2 ul li{
    display: inline;
    padding-right: 2%;
    padding-left: 5%;
    

}

.start3{
    width: 3%;
}
.start3 ul{
    display: flex;

}    

.start3 ul li{
    display: inline;
    
}

.semi{
    color: white;
    background-color: red;
    background-size: cover;
    padding-left: 5%;
    padding-right: 2%;

}

.semi101{
    font-style: oblique;
    font-weight: bolder;
    padding-left: 18%;
    padding-top: 1%;
}

.semi1{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
}


.semi2a{
    font-style: oblique;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.semi2 h2{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.semi3a{
    text-align: center;
    padding-bottom: 2%;
    
}

.semi3b{
    text-align: center;
    padding-bottom: 2%;
}

.semi3c{
    text-align: center;
    padding-bottom: 2%;
}

.semi3a h3{
    background-color: white;
    color: red;
    border-radius: 5px;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}   

.semi3b h3{
    background-color: white;
    color: red;
    border-radius: 5px;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.semi3c h3{
    background-color: white;
    color: red;
    border-radius: 5px;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 2%;
    padding-bottom: 2%;

}



@media(max-width: 768px){
    
    .desktop{
    display: none;
    }

    .semi1{
        display: block;
        margin-right: 18%;
        margin-top: 15%;
        width: 75%;
    }

    .semi1a{
        padding-bottom: 1%;
    
    }

    .semi1b{
        padding-bottom: 1%;
    }

    .semi1c{
        padding-bottom: 1%;
    
    }

    .semi1d{
        padding-bottom: 1%;
    
    }









}


